<div class="product-list">
    <div class="product-list-header">
        <div class="shop">Shop</div>
        <div class="filter">
            Short By Latest <img src="./assets/images/Arrow.svg" alt="bag" class="search-icon">
        </div>
    </div>
    <div class="product-cards">
        <div class="top-products">
            <ng-container *ngFor="let product of products | slice:0:3; let i = index">
                <div class="product-card">
                    <img [src]="product.imgURL" alt="{{ product.name }}" class="product-image">
                    <div class="product-info">
                        <p class="product-name">FLOWER</p>
                        <h2 class="product-description">{{ product.name }}</h2>
                        <div class="review-part">
                            <img src="./assets/images/star.svg" alt="star" class="search-icon">
                            <p class="product-review"> 4.6 / 5</p>
                            <div class="review-border"></div>
                            <p class="review-number">135</p>
                            <p class="review">Reviews</p>
                        </div>
                        <div class="product-sativa">
                            <p class="product-mark">Sativa 100%</p>
                        </div>
                        <div class="product-prices">
                            <p class="product-amount">${{ product.stockQuantity }}</p>
                            <p class="product-price">${{ product.price }}</p>
                        </div>
                        <div class="product-weights">
                            <p class="product-weight1">28g</p>
                            <p class="product-weight2">1/21b</p>
                            <p class="product-weight3">1/41b</p>
                        </div>
                        <div class="product-button-container">
                            <button (click)="onButtonClick(product)" class="product-button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <ng-container *ngFor="let product of products; let i = index">
            <div class="product-card">
                <img [src]="product.imgURL" alt="{{ product.name }}" class="product-image">
                <div class="product-info">
                    <p class="product-name">FLOWER</p>
                    <h2 class="product-description">{{ product.name }}</h2>
                    <div class="review-part">
                        <img src="./assets/images/star.svg" alt="star" class="search-icon">
                        <p class="product-review"> 4.6 / 5</p>
                        <div class="review-border"></div>
                        <p class="review-number">135</p>
                        <p class="review">Reviews</p>
                    </div>
                    <div class="product-sativa">
                        <p class="product-mark">Sativa 100%</p>
                    </div>
                    <div class="product-prices">
                        <p class="product-amount">${{ product.stockQuantity }}</p>
                        <p class="product-price">${{ product.price }}</p>
                    </div>
                    <div class="product-weights">
                        <p class="product-weight1">28g</p>
                        <p class="product-weight2">1/21b</p>
                        <p class="product-weight3">1/41b</p>
                    </div>
                    <div class="product-button-container">
                        <button (click)="onButtonClick(product)" class="product-button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!-- Add custom component after the second row (after 6th item) -->
            <ng-container *ngIf="i === 5">
                <app-custom-component class="app-custom-component"></app-custom-component>
            </ng-container>
        </ng-container>
    </div>
    <div class="page-div">
        <div class="page-div-info">Showing 1-30 of 393 results</div>
        <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
            (pageChanged)="onPageChanged($event)">
        </app-pagination>
    </div>

</div>