.main-header {
    padding: 14px 64px 14px 64px;
    justify-content: space-between;
    display: flex;
    height: 76px;
    border: 1px solid rgba(244, 244, 244, 1);
}
.account {
    width: 91px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 17px;
}

.account-info {
    display: flex;
    align-items: center;
}

.account-border {
    width: 1px;
    height: 12px;
    background-color: #C8C9CB;
    margin-right: 17px;
}

.app-account-bag {
    margin-bottom: 17px;
}

.logo {
    display: flex;
    align-items: center;
}