<div class="navs">
    <div class="nav1">Shop All</div>
    <div class="nav2 flex" >Flower<img src="./assets/images/Arrow.svg" alt="bag" class="search-icon"></div>
    <div class="nav3">Edibles</div>
    <div class="nav4 flex" >Concentrates<img src="./assets/images/Arrow.svg" alt="bag" class="search-icon"></div>
    <div class="nav5">Mushrooms</div>
    <div class="nav6 flex" >Promotions/Bundles<img src="./assets/images/Arrow.svg" alt="bag" class="search-icon"></div>
    <div class="nav7 flex" >Support<img src="./assets/images/Arrow.svg" alt="bag" class="search-icon"></div>
    <div class="nav8">Rewards</div>
    <div class="nav9">Blog</div>
</div>