<div class="filters">
    <div class="filter-title">
        Filters
    </div>
    <div class="product-category">
        <div class="product-category-title">PRODUCT CATEGORY</div>
        <div class="product-categories">
            <div *ngFor="let category of categories; let i = index" class="flex"
                [class.selected]="selectedCategory === i" (click)="selectCategory(i)">
                <img [src]="selectedCategory === i ? './assets/images/Box1.svg' : './assets/images/Box.svg'" alt="icon"
                    class="search-icon">
                <div>{{ category.name }}</div>
                <div class="product-count">{{ category.count }}</div>
            </div>
        </div>
    </div>

    <div class="filter-by-price">
        <div class="filter-by-price-title">FILTER BY PRICE</div>
        <app-price-filter></app-price-filter>
    </div>
    <div class="clear-filter">Clear Filters</div>
</div>