<div class="filters">
    <div class="filter-title">
        Filters
    </div>
    <div class="product-category">
        <div class="product-category-title">PRODUCT CATEGORY</div>
        <div class="product-categories" >
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Sales</div>
                <div>12</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box1.svg" alt="bag" class="search-icon">
                <div>Cannabis</div>
                <div>430</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Pre-Rolls</div>
                <div>40</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>CBD Oil</div>
                <div>20</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Magic Mushrooms</div>
                <div>34</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Extracts</div>
                <div>26</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Edibles</div>
                <div>32</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Vape Pens</div>
                <div>12</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Accessories</div>
                <div>10</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Bath & Body</div>
                <div>8</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Bundles</div>
                <div>24</div>
            </div>
            <div class="flex">
                <img src="./assets/images/Box.svg" alt="bag" class="search-icon">
                <div>Wholesale</div>
                <div>28</div>
            </div>
        </div>
    </div>
    <div class="filter-by-price">
        <div class="filter-by-price-title">FILTER BY PRICE</div>
        <app-price-filter></app-price-filter>
    </div>
    <div class="clear-filter">Clear Filters</div>
</div>